.mb-3 {
  display: flex;
  flex-direction: column;
}
.formlogin {
  justify-content: center;
  text-align: left;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .formulario {
    background-color: rgba(33, 110, 127, 0.24);
    height: fit-content;
    padding: 30px;
    backdrop-filter: blur(6px);
  }
  .disclaimer {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.mantener {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.boton_iniciar_sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(33, 110, 127, 0.748);
    width: 400px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
  }
  button:hover {
    text-shadow: 0px 0px 5px white;
    background-color: rgb(33, 110, 127);
  }
}
.col_formulario {
  width: 102%;
}
.formlogin::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  // background-image: url("../../../public/images/background.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 750px) {
  .formulario {
    margin: 45px 0;
  }
  .formlogin {
    .disclaimer {
      margin-bottom: 0px;
    }
  }
}
.none {
  display: none;
}
