.App {
  // overflow: hidden;
}

.main_container {
  display: flex;
  flex-direction: column;
}

* {
  position: relative;
  box-sizing: border-box;
}
#row_principal{
  display: flex;
  justify-content: center;
}
.col {
  padding: 0 !important;
}
#mainprincipal {
  flex-grow: 1;
}

#columna_principal {
  min-height: calc(100vh - 240px);
  padding: 1% !important;
  // height: calc(100vh - 150px);
  width: 75vw;
  // overflow-y: scroll;
  // background-color: rgb(255, 251, 247);
  .row {
    width: 100%;
    margin: 0;
  }
}

// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox 
input[type="number"] {
  -moz-appearance: textfield;
}

.desplazarse {
  animation: desplazarse 500ms;
}
.desaparecer {
  animation: desaparecer 500ms;
}
.p-5 {
  height: 100%;
}
#columnaPrincipal::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
@keyframes desplazarse {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes desaparecer {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}

