.puzzle-game {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
  }
  
  .puzzle-board {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .puzzle-piece {
    position: absolute;
    background-size: 300% 300%; /* Ajusta según el tamaño del tablero */
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: move;
  }
  