#footer {
  background-color: rgb(14, 14, 14);
  width: 100%;
  align-items: center;
  .logos_container {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    img {
      width: 75px;
    }
  }
  .disclaimer {
    display: flex;
    justify-content: space-around;
    p {
      color: white;
    }
  }
}
