//Todo cosas que hemos hecho anteriormente.
.filtros{
  button{
    min-height: 40px;
  }
}
h1 {
  text-align: center;
}
.datos_asociacion {
  background-color: rgba(39, 135, 156, 0.439);
  padding: 0 20px;
}
#columna_principal .bienvenida::before {
  width: 102%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
}
#columna_principal .bienvenida {
  width: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  margin: -1% -1% 10px -1%;
  background-image: url("./../../../../public/images/fondo_perro.jpg");
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  h1,
  h3 {
    margin-bottom: 0;
    font-size: 42px;
    text-shadow: 1px 1px 3px white;
  }
  h3 {
    font-size: 26px;
  }
  p {
    width: 80%;
    background-color: rgba(58, 195, 226, 0.753);
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
  }
  .fondo_perro {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }
}
.boton_mas_col {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#columna_principal .filtros {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  .filtro,
  .form-control {
    width: 24%;
    background-color: transparent;
    border: 1px solid black;
  }
  .boton_filtro {
    cursor: pointer;
  }
  .filtro:hover,
  .form-control:hover {
    background-color: rgba(33, 110, 127, 0.748);
    color: white;
    font-weight: bold;
    border: transparent;
  }
  .buscar:hover {
    background-color: transparent;
    color: black;
  }
}
.boton_mas {
  background-color: rgba(33, 110, 127, 0.748);
  border: none;
  width: 400px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 25px auto 5px;
  color: black;
  border-radius: 25px;
}
.boton_mas:hover {
  text-shadow: 0px 0px 5px white;
  background-color: rgb(33, 110, 127);
}
.associations_container {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
  .asociacion {
    width: 24%;
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      display: flex;
      width: 100%;
      height: 17.5vw;
      object-fit: cover;
    }
    p {
      //Los elementos necesarios para limitar el número de líneas de las asociaciones a 3, para guardar una estética común.
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      margin: 0;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h4 {
      margin-bottom: 20px;
    }
  }
  .asociacion.card {
    border: 5px solid transparent;
  }
  .asociacion.card:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    background-color: rgba(83, 173, 238, 0.6);
    border: 5px solid rgba(83, 173, 238, 0.6);
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  #columna_principal .bienvenida {
    height: 80vh;
    margin-bottom: 0px;
    p {
      font-size: 16px;
    }
  }
  .filtros {
    width: 100%;
    justify-content: center;
    .filtro,
    .form-control {
      width: 20%;
      background-color: transparent;
      border: 1px solid black;
    }
  }
  .associations_container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .asociacion.card {
      width: 90%;
      height: 100%;
      img {
        height: 40vw;
      }
    }
  }
  .boton_mas {
    width: 90%;
  }
}
