img {
  width: 100%;
  height: 100px;
}
#una_asociacion {
  display: flex;
  gap: 20px;
}
.imagen_una_asociacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
  }
}
